/* CSS BOX RESET CODE */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

/* END OF BOX RESET CODE */ 

/* SCREEN READER */ 

.screen-reader-text {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}

/**********************/ 

/* Page Style */ 

html {
  scroll-behavior: smooth; 
}

img {
  max-width: 100%; 
  margin: 0 auto;
}

a {
color: inherit; /* blue colors for links too */
text-decoration: inherit; 
} 

a:hover {
color: #b64036; 
}

/**********************/ 

/*** Typography ***/ 

h1, h2, h3{
font-family: "Playfair Display", serif;
font-weight: normal;
}

p {
font-family: 'Raleway', sans-serif;
color: #2d2d2d; 
line-height: 2em;
font-size: 14px;
}

li {
font-family: 'Raleway-Light', Arial, sans-serif;
color: #e2574c; 
font-size: 14px;
text-transform: uppercase;
}

.banner-upper-text, .banner-bottom-text, .shop-container, .updates-information, .footer-text {
color: white; 
}

.banner-upper-text, .banner-bottom-text {
text-shadow: 3px 3px 5px hsla(0,0%,39%,.8);
}

.banner-upper-text {
font-family: 'Raleway-Light', sans-serif;
text-transform: uppercase; 
}

.banner-bottom-text {
font-size: 2.25em; 
text-align: center;
}

.italicized-h2, .bold-h2 {
font-size: 2em;
line-height: 1.25em; 
}

.italicized-h2 {
font-style: italic; 
}
  
.bold-h2 {
font-weight: bold;
}

.about-information {
text-align: justify;
text-align-last: center;
font-size: 14px; 
font-weight: lighter;
}

.shop-container h3 {
font-family: 'Raleway-Web', sans-serif;
text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
text-transform: uppercase; 
font-size: 1.5em;
} 

.footer-text {
font-family: "Playfair Display", serif;
font-size: 0.875em; 
}

.featured-text-container {
text-align: center; 
}

.product-catagory, .price {
font-family: 'Raleway Light', Arial, Helvetica, sans-serif;
color: #969696;
}

.product-catagory {
text-transform: uppercase; 
font-size: 0.7em; 
}

.product-name {
font-family: 'Playfair Display', Times, serif; 
font-size: 1.5em;
color: #e2574c; 
}

.price {
font-size: 0.8em;     
}

.updates-container {
text-align: center; 
color: white; 
text-shadow: 3px 3px 5px hsla(0,0%,39%,.8);
padding: 3em 1em; 
}

.updates-information {
font-family: 'Raleway Light', Arial, Helvetica, sans-serif;
text-align: justify;
text-align-last: center;
font-size: 1em; 
line-height: 1.5em;
}

.subForm {
text-align: center;
background-color: white;
font-family: 'Raleway Light', Arial, Helvetica, sans-serif;
}

#email {
font-size: 14px; 
}

#submit {
background-color: #e2574c;
color: white; 
font-size: 14px; 
}

.footer-container {
color: #FFFFFF; 
text-align: center;  
line-height: 1.5;
}
    
.gray-footer-text {
color: #8D8D8D; 
}

.footer-social-media li {
color: #FFFFFF;
}

/**********************/ 

/* Header & Navigation */ 

.header-container {
max-width: 1240px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 1em 0.5em;
}

.logo-img {
width: 7.5em;
}

.nav-wrapper {
order: 1; 
padding-top: 0.5em;
margin-top: 0.5em;
border-top: 1px solid #d7d7d7;
}

.nav-wrapper li {
display: inline-flex;
padding: 5px 14px;
} 

.cart-icon {
width: 3em; 
}

/* Banner */

.banner-container {
display: flex;
width: 100%; 
height: 25em;
background: linear-gradient(to bottom,
   rgba(0, 0, 0, 0.25),
   rgba(0, 0, 0, 0.25)),
    url('../images/banner-girl.png') no-repeat center 4em,
    url('../images/flower-bkgd.jpg') no-repeat center;
background-size: cover, 40%, cover;
flex-direction: column;
justify-content: center; 
align-items: center; 
overflow: hidden; 
}

.banner-upper-text, .banner-bottom-text {
padding: 0 3em;
}

.banner-upper-text {
margin-bottom: 0.75em;
}

/* About */ 

.about-container {
max-width: 85%; 
text-align: center; 
margin: 0 auto; 
padding: 3em 0; 
}
  
.about-information {
margin-top: 1em;
}

/* Shop  */ 

.shop-container {
width: 100%; 
display: flex;
flex-wrap: wrap; 
list-style: none; 
} 

.shop-text-lg-img {
width: 100%; 
height: 30vh; 
}

.shop-text-sm-img {
width: 50%; 
height: 30vh; 
}

.mens-1 {
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.25),
rgba(0, 0, 0, 0.25)),
url(../images/mens-category.jpg) no-repeat center;
background-size: cover;
border-bottom: 5px solid white;
}
  
.trends-2 {
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.25),
rgba(0, 0, 0, 0.25)),
url(../images/trends-category.jpg) no-repeat center;  
background-size: cover;
border-right: 2.5px solid white;
} 
  
.glasses-3 {
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.25),
rgba(0, 0, 0, 0.25)),
url(../images/glasses-category.jpg) no-repeat center;
background-size: cover;
border-left: 2.5px solid white;
} 
  
.sale-4 {
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.25),
rgba(0, 0, 0, 0.25)),
url(../images/sale-category.jpg) no-repeat center;   
background-size: cover;
border-right: 2.5px solid white;
border-top: 5px solid white; 
}
  
.bag-5 {
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.25),
rgba(0, 0, 0, 0.25)),
url(../images/bags-category.jpg) no-repeat center;  
background-size: cover;
border-left: 2.5px solid white;
border-top: 5px solid white; 
}
  
.women-6 {
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.25),
rgba(0, 0, 0, 0.25)),
url(../images/womens-category.jpg) no-repeat center; 
background-size: cover;
width: 100%; 
height: 30vh;
border-top: 5px solid white;
}

.shop-text-lg-img {
padding: 13vh 0 0 0;
text-align: center; 
}

.shop-text-sm-img {
padding: 13vh 0 0 0;
text-align: center; 
}

.price {
padding-bottom: 2em; 
}

/* Featured */

.featured-text-container {
padding: 3em 1em; 
}

.flickity-container {
box-sizing: border-box;
width: 100%; 
background: white; 
padding-top: 3em;
}

.main-carousel {
display: block; 
text-align: center; 
}

.carousel-cell {
width: 100%;
text-align: center;
}

.product-catagory, .product-name {
padding-bottom: 1em;
}

/* Updates */ 

.updates-container {
padding: 3em 1em; 
background: linear-gradient(to bottom,
rgba(0, 0, 0, 0.15),
rgba(0, 0, 0, 0.15)),
url(../images/wave-bkgd.jpg) no-repeat bottom; 
width: 100%; 
height: 50vh;
margin-top: 3em;
}

.updates-information {
margin-top: 1em;
}

.subForm {
width: 90%; 
display: inline-flex;
justify-content: space-between; 
border-radius: 25px; 
padding: 1px; 
margin-top: 50px; 
background-color: white;
}

#email {
margin: 10px 10px 10px 15px;
}

#submit {
background-color: #e2574c;
border-radius: 25px; 
margin: 2px; 
padding: .5rem 1.5rem; 
}

/* Footer */

.footer-container {
background-color: #242424; 
color: #FFFFFF; 
display: flex; 
flex-direction: column; 
padding-top: 4em; 
}

.footer-text {
padding-bottom: 5vh; 
}
  
.footer-social-media li {
display: inline-block;
padding: 0 0.5em 4em 0.5em; 
}

.social-name {
display: none; 
}

/* Tablet */

@media only screen and (min-width: 600px) {

  /* Header & Navigation - Tablet */ 

  .header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
  margin: 0.25em 0; 
  }

  .nav-wrapper { 
  border: none;
  padding-right: 72px;
  } 

  .logo-img {
  width: 8em;
  }

  .cart-wrapper {
  order: 1; 
  text-align: right; 
  }

  /* Banner */

  .banner-wrapper {
  height: 400px; 
  }  

  .banner-container {
    background-size: cover, 20%, cover;
  }

  .banner-upper-text {
    font-size: 1.25em;
    }

  .banner-bottom-text {
    font-size: 3em; 
  }

  /* About - Tablet */ 

  .about-container {
  max-width: 90%; 
  }
      
  .italicized-h2, .bold-h2 {
  font-size: 2.5em;
  line-height: 1.5em; 
  }
          
  .about-information {
  font-size: 1.25em; 
  }

  /* Shop - Tablet */

  .shop-text-lg-img, .shop-text-sm-img {
  height: 190px;
  padding: 5em 0;
  }

  .shop-text-lg-img {
    width: 50%; 
  }

  .shop-text-sm-img {
    width: 25%; 
  }

  .mens-1 {
    border-right: 5px white solid;
    border-bottom: 0;
  }

  .women-6 {
    border-left: 5px white solid;
  }

  /* Featured - Tablet */

  .featured-text-container {
  text-align: center; 
  padding: 3em 1em; 
  }

  .flickity-container {
  box-sizing: border-box;
  width: 100%; 
  background: white; 
  padding-top: 3em;
  }

  .main-carousel {
  display: block; 
  text-align: center; 
  }

  .carousel-cell {
  width: 50%;
  text-align: center;
  }

  .product-catagory {
  font-size: 0.7em; 
  padding-bottom: 1em; 
  }

  .product-name {
  font-size: 1.5em;
  padding-bottom: 1em;
  }

  .price {
  font-size: 0.8em;  
  }

  /* Updates - Tablet */ 

  .updates-container {
  text-align: center; 
  height: 35vh;
  padding-bottom: 0;
  }

  .updates-information {
  font-size: 1.25em; 
  align-content: center;
  padding: 0 1.5em; 
  }

  .subForm {
  width: 60%; 
  }

  /* Footer - Tablet */

  .footer-container {
  display: flex; 
  flex-flow: row;
  justify-content: space-between;
  max-width: 100%; 
  padding: 3em 2em;
  }

  .footer-text {
  padding-bottom: 0; 
  text-align: left;
  }

  .footer-text, .social-name {
    font-size: 16px;
  }

  .footer-social-media {
  padding-top: 2em;
  display: flex; 
  flex-flow: column;
  }

  .footer-social-media li {
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0;
  text-align: left;
  font-weight: lighter;
  }

  .social-name {
  font-family: 'Raleway-Web', sans-serif;
  display: inline; 
  padding: 10px;
  color: white; 
  text-transform: none;
  }

} 

/* Desktop */

@media only screen and (min-width: 1240px) {

  /* Header & Navigation Section - Desktop */ 

  .header-container {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  }

  .logo-img {
  width: 160px;
  }

  .nav-wrapper {
  padding-top: 1em;
  }

  .nav-wrapper li {
    font-size: 16px;
  }

  .cart-icon {
  width: 62px; 
  }

  /* Banner Section - Desktop  */

  .banner-wrapper {
  display: flex; 
  width: 100%; 
  }

  .banner-container {
  height: 35em;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)),
      url(../images/banner-girl.png) no-repeat center 4em,
      url(../images/flower-bkgd.jpg) repeat-x top;
  background-size: cover, 18%, contain;
  }
  
  .banner-upper-text {
  font-size: 20px;
  }
  
  .banner-bottom-text {
  font-size: 64px; 
  }

  /* About - Desktop */ 

  .about-container {
  max-width: 50%; 
  margin-top: 9em;
  }
      
  .about-information {
  font-size: 18px; 
  }

  /* Shop - Desktop  */ 

  .shop-container {
  font-size: 1.5em;
  }

  .shop-container div {
  height: 400px; 
  }

  /* Featured - Desktop */ 

  .carousel-cell {
    width: 25%; 
  }

  /* Updates - Desktop */ 

  .updates-container {
  height: 50vh;
  }

  .updates-information {
  padding: 0 12em;
  text-align: center
  }

  .subForm {
  width: 35%; 
  border: none;
  }
  
  /* Footer - Desktop */ 
  
  .footer-container {
    padding: 4em 3em;
  }

} 



